.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-text);
}

.about__hr {
    border-color: var(--clr-slate800)
}

.about__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: uppercase;
}

.about__subtitle {
    font-size: var(--size-sm);
    color: var(--clr-slate300);
    text-transform: uppercase;
}

.about__list-container {
    display: flex;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    flex: 1;
}
.about__list-item {
    font-size: var(--size-sm);
    color: var(--clr-text);
}


/* xs */
@media (min-width: 475px) {
.about {
    gap: 1.5rem;
}
.about__content {
    gap: 1.5rem;
}
.about__title {
    font-size: var(--size-3xl);
}

.about__description {
    font-size: var(--size-base);
}

.about__subtitle {
    font-size: var(--size-base);
}

.about__list-item {
    font-size: var(--size-base);
}

}
/* sm */
@media (min-width: 640px) {
    .about__img-wrapper {
        margin: 0 auto;
    }
    .about__img {
        width: 28.687rem;
        border-radius: 0.5rem;
    }
}
/* md */
/* @media (min-width: 768px) {} */
/* lg */
@media (min-width: 1024px) {
   .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }
.about__title {
    font-size: var(--size-4xl);
}

.about__description {
    font-size: var(--size-lg);
}

.about__subtitle {
    font-size: var(--size-lg);
}

.about__list-item {
    font-size: var(--size-lg);
} 
}
/* xl */
@media (min-width: 1280px) {
    .about__content {
        gap: 2rem;
    }
    .about__title {
    font-size: var(--size-5xl);
}

.about__description {
    font-size: var(--size-xl);
}

.about__subtitle {
    font-size: var(--size-xl);
}

.about__list-item {
    font-size: var(--size-xl);
} 
.about__img {
    width: 30.75rem;
}
}
/* 2xl */
/* @media (min-width: 1536px) {} */
