.footer__title {
    font-size: var(--size-sm);
    font-weight: 400;
    color: var(--clr-slate300);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    user-select: none;
}