.work__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: uppercase;
    text-align: center;
}
.work__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-text);
    text-align: center;
    margin: 1rem auto;
}

/* xs */
/* @media (min-width: 475px) {} */
/* sm */
/* @media (min-width: 640px) {} */
/* md */
/* @media (min-width: 768px) {} */
/* lg */
/* @media (min-width: 1024px) {} */
/* xl */
/* @media (min-width: 1280px) {} */
/* 2xl */
/* @media (min-width: 1536px) {} */